{%- macro INCREASE(get_started_link, img) -%}
<tr>
    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 8px;padding-right: 8px;" valign="top" align="center">
        <!--[if mso]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;border-radius: 4px;border: 1px solid #EEEEEE;">
            <![endif]--> <!--[if !mso]> <!--> <div style="border: 1px solid #EEEEEE;border-radius:4px;"> <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;" cellspacing="0" cellpadding="0" border="0" align="center"> <tbody> <!-- <![endif]-->
            <tr>
                <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;background-color:#F5F5F5;" valign="center" bgcolor="#F5F5F5" align="center">
                    <!--[if !mso]> <!--> <table class="full-img" style="max-width:552px;min-height:320px;background-color:#F5F5F5;" width="100%" bgcolor="#F5F5F5"> <tbody> <tr> <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;text-align: center;" valign="center" align="left"> <img src="{{ img.increase }}" alt="Welcome to DataCube" style="color:#333333; text-align: center;" width="100%"> </td> </tr> </tbody> </table> <!-- <![endif]--> <!--[if gte mso]> 
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:552px;height:320px;" title="Welcome to DataCube" alt="Welcome to DataCube">
                        <v:fill type="tile" src="{{ img.increase }}" color="#F5F5F5" />
                        <v:textbox inset="0,0,0,0">
                            <![endif]--> <!--[if gte mso]> 
                        </v:textbox>
                    </v:rect>
                    <![endif]--> 
                </td>
            </tr>
            <tr>
                <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:32px;max-height:32px;line-height: 0;" valign="top" align="center">&nbsp;</td>
            </tr>
            <tr>
                <td align="center">
                    <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0; max-width: 526px;" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            <tr>
                                <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 16px;padding-right: 16px;color: #333333; font-family:sans-serif,helvetica;font-size: 32px;line-height: 40px;letter-spacing: -0.2px;font-weight: bold;text-align: center;" valign="top" align="center">Need to increase organic traffic? Start SEO Research with DataCube</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:8px;max-height:8px;line-height: 0;" valign="top" align="center">&nbsp;</td>
            </tr>
            <tr>
                <td align="center">
                    <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;max-width:440px;" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            <tr>
                                <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 16px;padding-right: 16px;color: #666666; font-family:sans-serif,helvetica;font-size: 16px;line-height: 24px;text-align: center;" valign="top" align="center">Track keywords, review performance and find market opportunities to bring more visitors to your website.</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:24px;max-height:24px;line-height: 0;" valign="top" align="center">&nbsp;</td>
            </tr>
            <tr>
                <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 16px; padding-right: 16px; width: 100%;" valign="top" align="center">
                    <div>
                        <!--[if mso]>
                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ get_started_link }}" style="height:60px;v-text-anchor:middle;width:272px;" arcsize="10%" stroke="f" fillcolor="#009DDA">
                            <w:anchorlock/>
                            <center style="color: #ffffff; font-size:14px; font-weight: bold; font-family:sans-serif;" title="Get Started">Get Started</center>
                        </v:roundrect>
                        <![endif]--> <!--[if !mso]> <!--> <a href="{{ get_started_link }}" hover="darkemain" style="color: #ffffff; font-size:14px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:60px; width:100%;display: block; background: #009DDA;text-align: center;letter-spacing: -0.1 px;border-radius: 4px;max-width: 504px;" title="Get Started" class="main-btn">Get Started</a> <!-- <![endif]--> 
                    </div>
                </td>
            </tr>
            <tr>
                <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:24px;max-height:24px;line-height: 0;" valign="top" align="center">&nbsp;</td>
            </tr>
            </tbody> <!--[if !mso]> <!--> </table> </div> <!-- <![endif]--> <!--[if mso]>
        </table>
        <![endif]--> 
    </td>
</tr>
{% endmacro -%}