{% import 'increase.j2' as INCREASE -%}
{% import 'increase_w_domain.j2' as INCREASE_W_DOMAIN -%}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>BrightEdge</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0;">
        <meta name="format-detection" content="telephone=no" />
        <style>
          body {
              margin: 0;
              padding: 0;
              min-width: 100%;
              width: 100% !important;
              height: 100% !important;
          }

          body,
          table,
          td,
          div,
          p,
          a {
              -webkit-font-smoothing: antialiased;
              text-size-adjust: 100%;
              -ms-text-size-adjust: 100%;
              -webkit-text-size-adjust: 100%;
              line-height: 100%;
          }

          table,
          td {
              mso-table-lspace: 0pt;
              mso-table-rspace: 0pt;
              border-collapse: collapse !important;
              border-spacing: 0;
          }

          img {
              border: 0;
              line-height: 100%;
              outline: none;
              text-decoration: none;
              -ms-interpolation-mode: bicubic;
              color: #333333;
              font-family: sans-serif;
              text-align: center;
          }

          #outlook a {
              padding: 0;
          }

          .ReadMsgBody {
              width: 100%;
          }

          .ExternalClass {
              width: 100%;
          }

          .ExternalClass,
          .ExternalClass p,
          .ExternalClass span,
          .ExternalClass font,
          .ExternalClass td,
          .ExternalClass div {
              line-height: 100%;
          }

          * [hover="darkemain"]:hover {
              background-color: #0086BA !important;
          }

          .main-btn:hover {
              background-color: #0086BA !important;
          }

          @media screen and (min-width: 599px) {
              .desc-48 {
                  padding-left: 48px !important;
                  padding-right: 48px !important;
              }
          }

          @media screen and (max-width: 600px) {
              .full-img {
                  min-height: 256px !important;
              }
          }

          @media screen and (max-width: 480px) {
              .width-fix {
                  max-width: 112px !important;
              }
          }
        </style>
    </head>
    <body style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%; height: 100%; -webkit-font-smoothing: antialiased; text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; line-height: 100%;background-color: #ffffff;color: #FFFFFF;" width="100%" topmargin="0" text="#000000" rightmargin="0" marginwidth="0" marginheight="0" leftmargin="0" bottommargin="0" bgcolor="#ffffff">
        <div style="display: none; visibility: hidden; overflow: hidden; opacity: 0; font-size: 1px; line-height: 1px; height: 0; max-height: 0; max-width: 0;color: #ffffff;" class="preheader">DataCube Welcome</div>
        <center style="width: 100%;">
            <table style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;" class="background" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" valign="top" bgcolor="#ffffff" align="center">
                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%;max-width: 570px;" class="wrapper" width="500" cellspacing="0" cellpadding="0" border="0" align="center">
                                <tbody>
                                    <tr>
                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:24px;max-height:24px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 8px;padding-right: 8px;" valign="top" align="center">
                                            <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                <tbody>
                                                    <tr>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" valign="top" align="left"><u><a href="https://www.brightedge.com/secure/login" title="Sign in to BrightEdge" style="color: #CCCCCC; font-family: sans-serif,helvetica;text-align: left;font-size: 12px;line-height: 16px;text-decoration: underline;">Sign in to BrightEdge</a></u></td>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" valign="top" align="right"><u><a href="#View in the browser" title="View in the browser" style="color: #CCCCCC; font-family: sans-serif,helvetica;text-align: right;font-size: 12px;line-height: 16px;text-decoration: underline;">View in the browser</a></u></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:32px;max-height:32px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;" valign="top" align="center">
                                            <div style="display: block;width: 214px; height: 32px;">
                                                <a href="{{ be_home_link }}" style="width: 214px; height: 32px;">
                                                    <!--[if mso]>
                                                    <img src="{{ img.be_logo }}" alt="Brightedge logo" width="214" height="32" title="Open brightedge.com" style="width: 214px; height: 32px;">
                                                    <![endif]-->
                                                    <!--[if !mso]><!-->
                                                    <img src="{{ img.be_logo }}" alt="Brightedge logo" title="Open brightedge.com" style="width: 214px; height: 32px;" width="214" height="32">
                                                    <!-- <![endif]-->
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:32px;max-height:32px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                    </tr>          
                                                                                         
                                    {% if domain %}
                                      {{ INCREASE_W_DOMAIN.INCREASE_W_DOMAIN(domain, get_started_link, img) }}
                                    {% else %}
                                      {{ INCREASE.INCREASE(get_started_link, img) }}
                                    {% endif %}
                                                                 
                                    <tr>
                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:16px;max-height:16px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 8px;padding-right: 8px;" valign="top" align="center">
                                            <!--[if mso]>
                                            <table align="center" border="0" cellspacing="0" cellpadding="0" style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;border-radius: 4px;border: 1px solid #EEEEEE;">
                                                <![endif]--> <!--[if !mso]> <!--> 
                                                <div style="border: 1px solid #EEEEEE;border-radius:4px;"> <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;" cellspacing="0" cellpadding="0" border="0" align="center"> <tbody> 
                                                <!-- <![endif]-->
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:32px;max-height:32px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:32px;max-height:32px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0; max-width: undefinedpx;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 16px;padding-right: 16px;color: #333333; font-family:sans-serif,helvetica;font-size: 32px;line-height: 40px;letter-spacing: -0.2px;font-weight: bold;text-align: center;" valign="top" align="center">Get started with your Research</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:8px;max-height:8px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="mp-sm" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 16px;
                                                                </tr>padding-right: 16px;color: #666666; font-family:sans-serif,helvetica;font-size: 16px;line-height: 24px;text-align: center;" valign="top" align="center">To cut things short - Find, Track and Utilize.</td>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:28px;max-height:28px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;width: 100%;padding-left: 10%;padding-right: 10%;" valign="top" align="center">
                                                        <div style="border-bottom:1px solid #EEEEEE;line-height: 1px;height:1px;max-height:1px; font-size:1px">&nbsp;</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:34px;max-height:34px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" valign="center" align="center">
                                                        <table class="centured-img" style="max-width:184px;min-height:184px;background-color:#F5F5F5;" width="100%" bgcolor="#F5F5F5">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;text-align: center;" valign="center" align="left">
                                                                        <!--[if !mso]> <!--> <img src="{{ img.research_track_save }}" alt="Keyword Research" style="color:#333333; text-align: center;" width="100%"> <!-- <![endif]--> <!--[if gte mso]> 
                                                                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:184px;height:184px;" title="Keyword Research" alt="Keyword Research">
                                                                            <v:fill type="tile" src="{{ img.research_track_save }}" color="#F5F5F5" />
                                                                            <v:textbox inset="0,0,0,0">
                                                                                <![endif]--> <!--[if gte mso]> 
                                                                            </v:textbox>
                                                                        </v:rect>
                                                                        <![endif]-->  
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:16px;max-height:16px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0; max-width: 552px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="desc-48" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 32px;padding-right: 32px;color: #333333; font-family:sans-serif,helvetica;font-size: 24px;line-height: 32px;letter-spacing: -0.2px;font-weight: bold;text-align: center;" valign="top" align="center">Research any URL or Keyword</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:8px;max-height:8px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;max-width:552px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="desc-48" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 32px;padding-right: 32px;color: #666666; font-family:sans-serif,helvetica;font-size: 16px;line-height: 24px;text-align: center;" valign="top" align="center">Find the ways to <strong style="color:#666666">increase organic traffic</strong> by using the high-ranking keywords to it's maximum level.</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:48px;max-height:48px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" valign="center" align="center">
                                                        <table class="centured-img" style="max-width:184px;min-height:184px;background-color:#F5F5F5;" width="100%" bgcolor="#F5F5F5">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;text-align: center;" valign="center" align="left">
                                                                        <!--[if !mso]> <!--> <img src="{{ img.research_track_save }}" alt="Track Keywords" style="color:#333333; text-align: center;" width="100%"> <!-- <![endif]--> <!--[if gte mso]> 
                                                                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:184px;height:184px;" title="Track Keywords" alt="Track Keywords">
                                                                            <v:fill type="tile" src="{{ img.research_track_save }}" color="#F5F5F5" />
                                                                            <v:textbox inset="0,0,0,0">
                                                                                <![endif]--> <!--[if gte mso]> 
                                                                            </v:textbox>
                                                                        </v:rect>
                                                                        <![endif]-->  
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:16px;max-height:16px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0; max-width: 552px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="desc-48" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 32px;padding-right: 32px;color: #333333; font-family:sans-serif,helvetica;font-size: 24px;line-height: 32px;letter-spacing: -0.2px;font-weight: bold;text-align: center;" valign="top" align="center">Track &amp; Save Your Findings</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:8px;max-height:8px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;max-width:552px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="desc-48" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 32px;padding-right: 32px;color: #666666; font-family:sans-serif,helvetica;font-size: 16px;line-height: 24px;text-align: center ;" valign="top" align="center "><strong style="color:#666666">Find valuable Keywords</strong>, create Groups and add them to your profile to make statistics even more accurate.</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:48px;max-height:48px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" valign="center" align="center">
                                                        <table class="centured-img" style="max-width:184px;min-height:184px;background-color:#F5F5F5;" width="100%" bgcolor="#F5F5F5">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;text-align: center;" valign="center" align="left">
                                                                        <!--[if !mso]> <!--> <img src="{{ img.site_comparision }}" alt="Compare Sites" style="color:#333333; text-align: center;" width="100%"> <!-- <![endif]--> <!--[if gte mso]> 
                                                                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:184px;height:184px;" title="Compare Sites" alt="Compare Sites">
                                                                            <v:fill type="tile" src="{{ img.site_comparision }}" color="#F5F5F5" />
                                                                            <v:textbox inset="0,0,0,0">
                                                                                <![endif]--> <!--[if gte mso]> 
                                                                            </v:textbox>
                                                                        </v:rect>
                                                                        <![endif]-->  
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:16px;max-height:16px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0; max-width: 552px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="desc-48" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 32px;padding-right: 32px;color: #333333; font-family:sans-serif,helvetica;font-size: 24px;line-height: 32px;letter-spacing: -0.2px;font-weight: bold;text-align: center;" valign="top" align="center">Utilize Site Comparison</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:8px;max-height:8px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;max-width:552px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="desc-48" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 32px;padding-right: 32px;color: #666666; font-family:sans-serif,helvetica;font-size: 16px;line-height: 24px;text-align: center ;" valign="top" align="center ">Find <strong style="color:#666666">where your competitors stand out the most</strong>, identify site migration issues or develop leading content strategy.</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:44px;max-height:44px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;width: 100%;padding-left: 10%;padding-right: 10%;" valign="top" align="center">
                                                        <div style="border-bottom:1px solid #EEEEEE;line-height: 1px;height:1px;max-height:1px; font-size:1px">&nbsp;</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:18px;max-height:18px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;max-width:472px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 16px;padding-right: 16px;color: #333333; font-family:sans-serif,helvetica;font-size: 16px;line-height: 24px;text-align: center;" valign="top" align="center">Leverage the industry's largest and actionable content repository<strong style="color:#333333"> to develop winning strategies</strong> for your business.</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:24px;max-height:24px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 16px; padding-right: 16px; width: 100%;" valign="top" align="center">
                                                        <div>
                                                            <!--[if mso]>
                                                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ try_link }}" style="height:60px;v-text-anchor:middle;width:272px;" arcsize="10%" stroke="f" fillcolor="#009DDA">
                                                                <w:anchorlock/>
                                                                <center style="color: #ffffff; font-size:14px; font-weight: bold; font-family:sans-serif;" title="Try DataCube Now">Try DataCube Now</center>
                                                            </v:roundrect>
                                                            <![endif]--> <!--[if !mso]> <!--> <a href="{{ try_link }}" hover="darkemain" style="color: #ffffff; font-size:14px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:60px; width:100%;display: block; background: #009DDA;text-align: center;letter-spacing: -0.1 px;border-radius: 4px;max-width: 456px;" title="Try DataCube Now" class="main-btn">Try DataCube Now</a> <!-- <![endif]--> 
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:40px;max-height:40px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                </tr>
                                                </tbody> <!--[if !mso]> <!--> </table> </div> <!-- <![endif]--> <!--[if mso]>
                                            </table>
                                            <![endif]--> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 8px;padding-right: 8px;" valign="top" align="center">
                                            <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                <tbody>
                                                    <tr>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:48px;max-height:48px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;max-width:422px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 24px;padding-right: 24px;color: #666666; font-family:sans-serif,helvetica;font-size: 12px;line-height: 16px;text-align: center;" valign="top" align="center">If you no longer wish to receive this report, you can do so by changing your <a href="{{ email_settings_link }}" style="color: #009DDA;line-height: inherit; text-decoration: none;text-decoration: underline;font-weight: normal;" title="Open EmailPreferences.com">Email Preferences</a> settings in BrightEdge Platform.</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:16px;max-height:16px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;" valign="top" align="center">
                                                            <div style="display: block;width: 107px; height: 16px;">
                                                                <a href="{{ be_home_link }}" style="width: 107px; height: 16px;">
                                                                    <!--[if mso]>
                                                                    <img src="{{ img.be_logo }}" alt="Brightedge logo" width="107" height="16" title="Open brightedge.com" style="width: 107px; height: 16px;">
                                                                    <![endif]-->
                                                                    <!--[if !mso]><!-->
                                                                    <img src="{{ img.be_logo }}" alt="Brightedge logo" title="Open brightedge.com" style="width: 107px; height: 16px;" width="107" height="16">
                                                                    <!-- <![endif]-->
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:16px;max-height:16px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;max-width:422px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;padding-left: 24px;padding-right: 24px;color: #666666; font-family:sans-serif,helvetica;font-size: 12px;line-height: 16px;text-align: center;" valign="top" align="center">989 E Hillsdale Blvd #300, San Mateo, CA 94404</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:16px;max-height:16px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;" valign="top" align="center">
                                            <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0; max-width: 146px;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                <tbody>
                                                    <tr>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" width="24" valign="top" height="24" align="center">
                                                            <div style="width: 26px;height: 24px;">
                                                                <a href="mailto:{{ contacts.email }}" title="Write to email">
                                                                    <!--[if mso]>
                                                                    <img src="{{ img.mail }}" alt="icon-mail" width="24" height="24" style="width: 24px;height: 24px;">
                                                                    <![endif]--> 
                                                                    <!--[if !mso]> <!-->
                                                                    <img src="{{ img.mail }}" alt="icon-mail" style="width: 24px;height: 24px;" width="24" height="24">
                                                                    <!-- <![endif]-->
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td style="width: 14px;" width="14"></td>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" width="24" valign="top" height="24" align="center">
                                                            <div style="width: 26px;height: 24px;">
                                                                <a href="{{ contacts.linkedin }}" title="Go to social (LinkedIN)">
                                                                    <!--[if mso]>
                                                                      <img src="{{ img.linkedin }}" alt="icon-mail" width="24" height="24" style="width: 24px;height: 24px;">
                                                                    <![endif]--> 
                                                                    <!--[if !mso]> <!-->
                                                                      <img src="{{ img.linkedin }}" alt="icon-mail" style="width: 24px;height: 24px;" width="24" height="24">
                                                                    <!-- <![endif]-->
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td style="width: 14px;" width="14"></td>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" width="24" valign="top" height="24" align="center">
                                                            <div style="width: 26px;height: 24px;">
                                                                <a href="{{ contacts.facebook }}" title="Go to social (Facebook)">
                                                                    <!--[if mso]>
                                                                    <img src="{{ img.facebook }}" alt="icon-mail" width="24" height="24" style="width: 24px;height: 24px;">
                                                                    <![endif]--> 
                                                                    <!--[if !mso]> <!-->
                                                                    <img src="{{ img.facebook }}" alt="icon-mail" style="width: 24px;height: 24px;" width="24" height="24">
                                                                    <!-- <![endif]-->
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td style="width: 14px;" width="14"></td>
                                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" width="24" valign="top" height="24" align="center">
                                                            <div style="width: 26px;height: 24px;">
                                                                <a href="{{ contacts.twitter }}" title="Go to social (Twitter)">
                                                                    <!--[if mso]><img src="{{ img.twitter }}" alt="icon-mail" width="24" height="24" style="width: 24px;height: 24px;">
                                                                    <![endif]--> 
                                                                    <!--[if !mso]> <!-->
                                                                    <img src="{{ img.twitter }}" alt="icon-mail" style="width: 24px;height: 24px;" width="24" height="24">
                                                                    <!-- <![endif]-->
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 3%; padding-right: 3%; width: 94%; padding-top:24px;max-height:24px;line-height: 0;" valign="top" align="center">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </body>
</html>